SUAI-GUAP-labs-Matobase/6 sem/6 Семестр на чиле на раслабоне оу ес/web/web-pro/другим/маша/lab8/lab8/supercomputers_db.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SupercomputersCatalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="supercomputer" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="manufacturer" type="xs:string"/>
              <xs:element name="price">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="currency" type="xs:string" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="description" type="xs:string"/>
              <xs:element name="features" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="feature" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="feature_name" type="xs:string"/>
                          <xs:element name="feature_value" type="xs:string"/>
                          <xs:element name="created_at" type="xs:dateTime"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:integer" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:integer" use="required"/>
            <xs:attribute name="release_year" type="xs:integer" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>